
<div class="container nft-list-filtered-by-category">
  <h1>
    <%= "My Collection" %>
  </h1>
  <ul>
    <div class="container nft-product-cards display-grid">
      <% @baskets.each do |basket| %>
        <li>
          <div class="card-product flex-column">
            <%= link_to nft_path(basket.nft) do %>
              <%= cl_image_tag basket.nft.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= link_to basket.nft.title, nft_path(basket.nft), id: "title"  %></h2>
              <p id="price">₿ <%= basket.nft.price %></p>
            </div>
          </div>
        </li>
      <% end %>
    </div>
  </ul>
  <h3>
    <%= link_to "Buy more NFTs", categories_path, id: "collection-link-path" %>
  </h3>
</div>
