<div class="container">
  <div class="basket-pending-index d-flex">
    <ul class="basket-pending-index-grid col-7">
      <% @baskets.each do |basket| %>
        <li class="basket-pending-index-grid-nft-card d-flex flex-column justify-content-center">
          <%= link_to basket.nft.title, basket_path(basket), class: "d-flex justify-content-center" %>
          <%= cl_image_tag basket.nft.photo.key %>
          <%= form_for(basket) do |f| %>
            <%= f.submit "Buy", method: :patch, class: "pay-now-button" %>
          <% end %>
          <%= link_to "Delete #{basket.nft.title}",
            basket_path(basket),
            method: :delete %>
        </li>
      <% end %>
    </ul>
    <div>
      <div class="checkout-card">
        <ul>
            <% @baskets.each do |basket| %>
              <li>
                <div class="item-price">
                  <div><%= basket.nft.title %>:</div>
                  <div>₿ <%=basket.nft.price %></div>
                </div>
              </li>
            <% end %>
            <hr/>
            <li>
              <div class="item-price">
                <div>TOTAL:</div>
                <div>₿ <%= @total %></div>
              </div>
            </li>
            <%= link_to "Buy All", pay_all_baskets_path, method: :patch, :class => 'btn-pay-all'%>
        </ul>
      </div>
    </div>
  </div>
</div>
