
<h2>My Basket </h2>
<br>
<%= @basket.nft.title %> <br>
<%= @basket.nft.price %> <br>


<br>
<br>

<%= form_for(@basket) do |f| %>
  <%= f.hidden_field :paid, value: true %>
  <%= f.submit "Pay now" %>
<% end %>
