<nav class="navbar">
    <%= link_to image_tag("https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/meta.png", alt: "meta logo", class: "logo-navbar"), root_path, class: "logo" %>
  <ul class="nav-links" id="categories">
    <li class="nav-item-underlined active"><%= link_to "KITCHEN", category_path(1), class:"nav-link" %></li>
    <li class="nav-item-underlined"><%= link_to "BEDROOM", category_path(2), class:"nav-link" %></li>
    <li class="nav-item-underlined"><%= link_to "DESK", category_path(3), class:"nav-link" %></li>
    <li class="nav-item-underlined"><%= link_to "ARTS&CRAFTS", category_path(4), class:"nav-link" %></li>
  </ul>
  <ul class="nav-links">
      <li class="nav-item"><%= link_to "MY BASKET", pending_baskets_path %></li>
      <li class="nav-item"><%= image_tag "akar-icons_basket.svg", alt: "arrow", class:"basket_logo",width: 40 %></li>
      <li class="nav-item"><%= link_to Basket.where(paid: false, user_id: current_user).count, pending_baskets_path %></li>

    <li class="nav-item-dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My collection", paid_baskets_path, class: "dropdown-item" %>
              <%= link_to "Sell an NFT", new_nft_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
    </li>

  </ul>


</nav>
