<%= form_tag category_path(@category), method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an NFT"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="container nft-list-filtered-by-category">
  <h1>
    <%= @category.category_name.capitalize %>
  </h1>
  <ul>
    <div class="container nft-product-cards display-grid">
      <% @nfts.each do |nft| %>
        <li>
          <div class="card-product flex-column">
            <%= link_to nft_path(nft) do %>
              <%= cl_image_tag nft.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= link_to nft.title, nft_path(nft) %></h2>
              <p>$<%= nft.price %></p>
            </div>
          </div>
        </li>
      <% end %>
    </div>
  </ul>
  <h3>
    <%= link_to "Back to Categories", categories_path %>
  </h3>
</div>
